 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41, 50, 51, 0.65), rgba(41, 50, 51, 0.65)), url('./kyushu/images/181.jpg');
  background-position: 50% 50%;
}

/* 背景と全体のレイアウト */
body {
  font-family: "Zen Maru Gothic", serif;
  min-height: 100vh;
  background-color:  hwb(169 81% 11%);
  flex-direction: column;
  align-items: center; /* 中央揃え */
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  height: 106px;
  width: 357px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 203px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(73,98,101,0.4);
  font-size: 6rem;
  letter-spacing: 3px;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 54px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 63px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 333px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 198px;
  grid-gap: 22px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 32px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 32px;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 32px;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 32px;
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1294px;
}

.u-section-3 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("./kyushu/images/1521290668_3547076ef7_k.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 150px 94px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("./kyushu/images/1e503326-16e2-216c-1834-f81b8bfa35db.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
  margin: -604px auto 0 71px;
}

.u-section-3 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("./kyushu/images/CC.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 156px;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -419px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 297px;
  margin-top: 69px;
  margin-bottom: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 92px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -516px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 151px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 289px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-3 .u-image-2 {
    width: 234px;
    height: 234px;
    margin-top: -565px;
    margin-right: -21px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: 351px;
    margin-right: -21px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -797px;
    margin-left: 51px;
  }

  .u-section-3 .u-shape-2 {
    width: 209px;
    height: 209px;
    margin-top: 188px;
    margin-right: -50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 329px;
    margin-bottom: 20px;
    min-height: 382px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.2;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 771px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 711px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  margin: 158px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2;
  margin: 48px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 202px;
  height: 202px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("./kyushu/images/IMG_2531.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
  margin: -130px 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -421px auto 0 0;
}

.u-section-4 .u-shape-3 {
  width: 250px;
  height: 78px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 182px auto 53px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-4 .u-image-1 {
    width: 504px;
    height: 504px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -369px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 14px;
  }

  .u-section-4 .u-image-1 {
    width: 372px;
    height: 372px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -237px;
  }

  .u-section-4 .u-shape-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 490px;
    height: 490px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -413px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 20px;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-4 .u-shape-1 {
    width: 166px;
    height: 166px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -94px;
  }

  .u-section-4 .u-shape-2 {
    width: 83px;
    height: 83px;
    margin-top: -287px;
  }

  .u-section-4 .u-shape-3 {
    width: 154px;
    height: 48px;
    margin-top: 156px;
    margin-bottom: 0;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 972px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 100px 379px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 991px;
  margin: 62px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 597px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 40px auto 0 0;
  padding: 16px 52px 17px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 597px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  width: 462px;
  height: 462px;
  background-image: url("./kyushu/images/323A7540-1.jpg");
  background-position: 61.4% 50%;
  background-size: cover;
  margin: 23px auto 0;
}

.u-section-5 .u-text-3 {
  text-align: left;
  margin: 20px 40px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-5 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-5 .u-image-1 {
    width: 390px;
    height: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 981px;
}

.u-section-6 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 76px auto 0 712px;
}

.u-section-6 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("./kyushu/images/tayawee-supan-LJil2jfhTxU-unsplash.jpg");
  background-position: 42.62% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
  margin: -246px auto 0 51px;
}

.u-section-6 .u-group-1 {
  width: 613px;
  min-height: 377px;
  background-image: none;
  height: auto;
  margin: -222px 20px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 62px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 26px 0 0;
}

.u-section-6 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -305px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-left: 694px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 474px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 294px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 111px;
    margin-left: 34px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 52px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 363px;
    margin-top: -729px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 5px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 37px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -70px;
    margin-right: -34px;
    margin-left: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 884px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 876px;
  margin: 110px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1033px;
  margin: 67px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-7 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("./kyushu/images/IMG_7668.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.0625rem;
  margin: 27px 0 0;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-7 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("./kyushu/images/IMG_2456.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 39px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.0625rem;
  margin: 27px 0 0;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-7 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("./kyushu/images/img_mv_pc1.png");
  background-position: 7.08% 50%;
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 39px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.0625rem;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 692px;
}

.u-section-8 .u-text-1 {
  width: 810px;
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 389px;
  grid-gap: 0px;
}

.u-section-8 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-4 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-5 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 60px 14px;
}

.u-section-8 .u-icon-6 {
  height: 33px;
  width: 33px;
  margin: 0 417px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 321px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 335px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 335px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 335px;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 335px;
  }

  .u-section-8 .u-icon-5 {
    margin-right: 335px;
  }

  .u-section-8 .u-icon-6 {
    margin-right: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 270px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 270px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 270px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 270px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-5 {
    margin-right: 270px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-6 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 213px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 213px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 213px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 213px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-5 {
    margin-right: 213px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-6 {
    margin-right: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 131px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 131px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 131px;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 131px;
  }

  .u-section-8 .u-icon-5 {
    margin-right: 131px;
  }

  .u-section-8 .u-icon-6 {
    margin-right: 131px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('./kyushu/images/geoff-oliver-Cttv-HVt3FI-unsplash.jpg');
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 726px;
}

.u-section-9 .u-group-1 {
  width: 491px;
  min-height: 489px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 0 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 76px 0 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-9 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  margin: 30px auto 60px 0;
  padding: 8px 35px 9px;
}

.u-section-9 .u-icon-1 {
  font-size: 1.2143em;
  vertical-align: -1px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }
}


/* kyushu.css (末尾に追加) */
body {
    padding-top: 75px; /* ヘッダーの高さに合わせて調整 */
 }
        
  @media (max-width: 768px){
            body {
            padding-top: 60px; /* ヘッダーの高さに合わせて調整 */
            }
  }
  
