/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景と全体のレイアウト */
body {
    font-family: "Zen Maru Gothic", serif;
    min-height: 100vh;
    background-color:  hwb(169 81% 11%);
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
}

/* マイページコンテナ */
.maincontainer {
    width: 1200px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* タイトル */
h1 {
    font-size: 2rem;
    color: #444;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #1e70ae;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* プロフィール情報 */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

/* ユーザー情報 */
/* 個人情報を2列で表示 */
.info {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 2列レイアウト */
    gap: 10px 40px; /* 行間と列間の間隔 */
    text-align: left;
    font-size: 1.2rem;
    color: #444;
}


/* ギャラリータイトル */
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    border-bottom: 2px solid #1e70ae;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* ギャラリー画像 */
.camp {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* アコーディオン全体の配置 */
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    gap: 20px; /* 間隔 */
    width: 100%;
    max-width: 900px;
    margin: auto;
}

/* 各コンテナ */
.campinfo {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.openchatlink {
    color: #444;
    font-weight: bold;
    font-size: 1.2rem;
    text-underline-offset: none;
}

.fa-brands {
    color: #35db5f;
    font-size: 5rem;
    cursor: pointer;
}

.map-img {
    width: 80%;
}

.room-img {
    width: 100%;
    border-radius: 8px;
}


/* スクロールバーを非表示 */
.overflow-auto::-webkit-scrollbar {
    display: none;
}

.overflow-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .profile {
        flex-direction: column;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }

    .info {
        text-align: center;
        font-size: 0.9rem;
        grid-template-columns: 1fr;
    }

    .camp img {
        width: 100%;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .wrapper {
        grid-template-columns: 1fr; /* スマホでは1列 */
    }

    .campinfo {
        padding: 15px;
    }
}