/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bodyのスタイル */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hwb(169 81% 11%);
}

/* ヘッダー */
header {
    background: linear-gradient(to right, hsl(202, 100%, 69%), #38d47e);
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.3s ease, transform 0.3s ease;
}

header nav ul li a i {
    font-size: 32px;
    margin-bottom: 8px;
}

header nav ul li a span {
    font-size: 14px;
    margin-top: 5px;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

/* メイン画像のスタイル */
.main-image {
    width: 100%;         /* 画像の幅を100%に設定（画面幅にフィット） */
    max-width: 100%;     /* 画像の最大幅も100%に制限 */
    height: auto;        /* 画像の縦横比を維持して自動調整 */
    margin-bottom: 20px; /* 画像とテキストの間に余白を作成 */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}


main h1 {
    font-size: 48px;
    color: #333;
}

/* フッター */
footer {
    background-color: #5d7283;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    display: flex; /* アイコン全体を横並びに */
    justify-content: center; /* 中央に揃える */
    align-items: center; /* 垂直方向に中央揃え */
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex; /* アイコンと文字を横並びに */
    align-items: center; /* 垂直方向に中央揃え */
    margin: 0 15px; /* 各リンク間にスペースを追加 */
}

footer a i {
    font-size: 36px; /* アイコンの大きさを調整 */
    margin-right: 10px; /* アイコンと文字の間にスペースを追加 */
}

footer a span {
    font-size: 20px; /* テキストの大きさを調整 */
}

footer a:hover {
    text-decoration: none;
    color: #ddd; /* ホバー時に色を変更 */
}
