/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bodyのスタイル */
body {
    font-family: "Zen Kurenaido", sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hwb(169 81% 11%);
}

/* メイン */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #f4f4f4;
    padding-top: 90px; /* ヘッダーの高さを考慮 */
    padding-bottom: 60px; /* フッターの高さを考慮 */
    margin-bottom: 70px;
    text-align: left;
}


.container {
    font-size: 20px;
    color: #333;
    font-family: 'Noto Serif JP', serif; /* 日本語フォントを適用 */
}

.highlight { /* 強調表示用クラス */
    font-size: 1.2em;
    font-weight: bold;
}